/* ============================================
   BASE STYLES
   ============================================ */

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F8F4F4;
  color: #373535;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #373535;
}


/* ============================================
   LINKS
   ============================================ */

a {
  color: #879147;
}

a:hover {
  color: #6d7438; /* Vert plus foncé pour le hover */
}


/* ============================================
   BUTTONS
   ============================================ */

.button.button-primary,
button.button-primary {
  background-color: #F8F4F4;
  border-color: #373535;
  color: #373535;
}

.button,
button {
  background-color: #F8F4F4;
  border-color: #373535;
  color: #373535;

}

.button:hover,
button:hover,
.button.button-primary:hover,
button.button-primary:hover {
    background-color: #879147; /* A slightly darker green for hover */
    border-color: #879147;
    color: #F8F4F4;
}

.button[disabled],
button[disabled],
.button[disabled]:hover,
button[disabled]:hover {
  background-color: #E1E1E1; /* A light gray */
  border-color: #E1E1E1;
  color: #B1B1B1; /* A lighter gray for text */
  cursor: not-allowed;
}

.button:focus,
button:focus,
.button-primary:focus,
button.button-primary:focus {
    color: #373535;
    border-color: #879147;
    background-color: #F8F4F4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(135, 145, 71, .5); /* Pickle green "glow" */
}


/* ============================================
   FORMS
   ============================================ */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-color: #ffdbad;
}

input[type="submit"]
{
    background-color: #F8F4F4;
    border-color: #373535;
    color: #373535;
}

textarea:focus,
input:focus {
  border-color: #879147;
}
